.profile{
    width: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(242, 235, 235);
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.description{
   text-align: center; 
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    margin-top: 50px;
}

.name{
    font-size: 18px;
    line-height: 1.14;
}

.tag{
 color:rgb(173, 183, 183);
}

.location{
    color:rgb(173, 183, 183);
}
.stats{
    display: flex;
    
  
}

.stats-numbers{
    width: 100px;
    padding-top: 25px;
    padding-bottom: 25px; 
    background-color:azure;
    text-align:center;
    align-content: center;
}

.stats-numbers:nth-child(-n+2){
    border-right: solid 1px rgb(173, 183, 183);
}

.label{
    color: black;
    font-size: 14px;
    line-height: 1.14;
}
.quantity{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.14;
    color:rgb(173, 183, 183);
}
