.statistics {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  width: 300px;
  background-color: white;
}

.title {
  margin-bottom: 25px;
  color: black;
  text-align: center;
}
.statList {
  display: flex;
}
