.stats {
  display: flex;
}

.statsUnit {
  text-align: center;
  width: 135px;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: azure;
}

.statsUnit:nth-child(-n + 2) {
  border-right: solid 1px rgb(173, 183, 183);
}

.label {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  color: rgb(173, 183, 183);
}
.quantity {
  display: block;
  font-size: 16px;
  line-height: 1.14;
  color: black;
}
