.table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  color: rgb(136, 137, 138);
}

.thead {
  background-color: rgb(0, 195, 224);
  color: #ffff;
}

th {
  font-weight: bold;
  width: 150px;
  padding: 5px;
  background: #493cf528;
  border: 1px solid #dddddd;
}
td {
  text-align: center;
  border: 1px solid #dddddd;
  padding: 10px 30px;
}

tr:nth-child(even) {
  background-color: rgb(241, 241, 241);
}
